<!-- <p>
  {{ email_message }}
  <b>{{ token }}</b>
</p> -->
<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">
    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #aca914f3;text-decoration:none;font-weight:600">ATLET</a>
    </div>
    <center><img src="logoapp.png" alt="alternatetextm" height="250" width="150"></center>
    <p style="font-size:1.1em">Hi,</p>
    <p>Terima kasih telah melakukan register di ATLET. Berikut adalah OPT untuk melakukan verifikasi, silakan masukan kode ini.
    <h2 style="background: #829101;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;">{{ token }}</h2>
    <p style="font-size:0.9em;">Salam,<br />ATLET</p>
    <hr style="border:none;border-top:1px solid #eee" />
    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>ATLET</p>
      <p>Politeknik Harapan Bersama Tegal</p>
      <p>Kota Tegal</p>
    </div>
  </div>
</div>